{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>TreasureGram</title>
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top text-center">
            <a href="/">
                <img src="{% static 'images/logo.png' %}" alt="TreasureGram" height="90" />
            </a>
        </nav>
        <main class="container container--mw700" role="main">
            <div class="row">
                {% for treasure in treasures %}
                <div class="col-md-4">
                    <div class="treasure panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">{{ treasure.name }}</h2>
                        </div>
                        <div class="panel-body">
                            <div class="treasure-photo">
                                <img src="{{ treasure.img_url }}" height="200"/>
                            </div>
                        </div>
                    </div> <!-- end .panel -->
                </div> <!-- end .col-md-4 -->
                {% endfor %}
            </div> <!-- end .row -->
        </main>
        
    </body>
</html>