{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>TreasureGram</title>
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
    </head>
    <body>
        <h1>TreasureGram</h1>
        {% for treasure in treasures %}
            <p>{{ treasure.name }}</p>
            {% if treasure.value > 0 %}
                <p>{{ treasure.value }}</p>
            {% else %}
                <p>Unknown</p>
            {% endif %}
        {% endfor %}
    </body>
</html>